<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link href="https://unpkg.com/picnic" rel="stylesheet">-->
    <title>SERIES</title>
    <link rel="stylesheet" href="series.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


    <div class="navegador" id="navegador">
        <ul>
            <li><a href="http://localhost:3000">SERIES</a></li>
            <li><a href="contacto.html">Contacto</a></li>
            <li><a href="totesPagines.html">Pagines</a></li>
        </ul>
    </div>

</head>
<body class = body>


<script id="series_template" type="text/x-handlebars-template">
    <div class="titulos"><p> S E R I E S</p></div>


    <div class="contenedorpp">
        {{for series}}
        <div>

            <a data-id="{{:id}}" class="details" href="#series/{{:#index}}"><img src="{{:Imagen}}"></a>
            <div class="buttonIndex">
                <button data-id="{{:id}}" href="#" type="button" class="btn btn-outline-secondary btn-sm modify">Modificar</button>
                <button data-id="{{:id}}" href="#" type="button" class="btn btn-outline-danger btn-sm delete">Eliminar</button>
            </div>
        </div>
        {{/for}}
    </div>


    <div class="addBoton">
        <a href="#" class="add btn btn-outline-warning">Add</a>
    </div>


</script>

<script id="serie_template" type="text/x-handlebars-template">
    <div class="titulos">
        <p>{{:Titulo}}</p>
    </div>


    <div class= contenedorDetails>

        <img class="imagenes" src="{{:Imagen}}" alt="">



        <ul class="contenedorDatos">


            <li><h3>Titulo:</h3> {{:Titulo}}</li>
            <li><h3>Genero:</h3> {{:Genero}}</li>
            <li><h3>Creador:</h3> {{:Creador}}</li>
            <li><h3>Trama:</h3> {{:Trama}}</li>
            <li><h3>Temporadas:</h3> {{:Temporadas}}</li>
            <li><h3>Capitulos:</h3></li>
            <a class="btn btn-outline-success" href={{:Capitulos}}>Capitulos</a>

        </ul>
    </div>


</script>


<script id="add_serie_template" type="text/x-handlebars-template">
    <h1 class = titulos >Add serie</h1>


    <form action="">

        <label for="Imagen">Imagen</label>
        <input type="text" name="Imagen" id="Imagen">

        <label for="Titulo">Titulo</label>
        <input type="text" name="Titulo" id="Titulo">

        <label for="Genero">Genero</label>
        <input type="text" name="Genero" id="Genero">

        <label for="Creador">Creador</label>
        <input type="text" name="Creador" id="Creador">

        <label for="Trama">Trama</label>
        <input type="text" name="Trama" id="Trama">

        <label for="Temporadas">Temporadas</label>
        <input type="text" name="Temporadas" id="Temporadas">

        <label for="Capitulos">Capitulos</label>
        <input type="text" name="Capitulos" id="Capitulos">

        <button type="submit" class="btn btn-primary add-form-submit">
            Submit
        </button>

    </form>


</script>


<script id="modify_serie_template" type="text/x-handlebars-template">
    <h1 class = titulos >Modify {{:Titulo}}</h1>


    <form action="">

        <label for="Imagen">Imagen</label>
        <input type="text" name="Imagen" id="Imagen"
               value="{{:Imagen}}">

        <label for="Titulo">Titulo</label>
        <input type="text" name="Titulo" id="Titulo"
               value="{{:Titulo}}">

        <label for="Genero">Genero</label>
        <input type="text" name="Genero" id="Genero"
               value="{{:Genero}}">

        <label for="Creador">Creador</label>
        <input type="text" name="Creador" id="Creador"
               value="{{:Creador}}">

        <label for="Trama">Trama</label>
        <input type="text" name="Trama" id="Trama"
               value="{{:Trama}}">

        <label for="Temporadas">Temporadas</label>
        <input type="text" name="Temporadas" id="Temporadas"
               value="{{:Temporadas}}">

        <label for="Capitulos">Capitulos</label>
        <input type="text" name="Capitulos" id="Capitulos"
               value="{{:Capitulos}}">

        <button data-id="{{:id}}" type="submit" class="btn btn-primary modify-form-submit">
            Submit
        </button>

    </form>


</script>

<div id="app"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
<script src="//unpkg.com/navigo@6"></script>

<script>


    function showSerie(event) {
        event.preventDefault();


        var id = $(this).data("id");

        $.getJSON("api/series/" + id, function (data) {
            var html = $("#serie_template").render(data);


            $("#app").html(html);
        });

    }

    function deleteSerie(event) {
        event.preventDefault();


        var id = $(this).data("id");

        console.log("Delete " + id);

        $.ajax({
            url: 'api/series/' + id,
            type: 'DELETE'
        }).then(function (result) {
            showSeries();
        });


    }

    function modifyFormSubmit(event) {
        event.preventDefault();

        var form = $("form");


        var data = form.serializeObject();
        var button = $("form > button");

        var id = button.data("id");

        $.post("api/series/" + id, data, function (result) {
            showSeries();
        })
    }

    function modifySerie(event) {
        event.preventDefault();

        var id = $(this).data("id");

        $.getJSON("api/series/" + id, function (data) {


            var html = $("#modify_serie_template").render(data);

            $("#app").html(html);

            $(".modify-form-submit").on("click", modifyFormSubmit)


        })
    }


    function addFormSubmit(event) {
        event.preventDefault();

        var form = $("form");


        var data = form.serializeObject();

        $.post("api/series/", data, function (result) {
            showSeries();
        })
    }

    function addSerie(event) {
        event.preventDefault();

        var html = $("#add_serie_template").render();


        $("#app").html(html);

        $(".add-form-submit").on("click", addFormSubmit)
    }

    function showSeries() {
        $.getJSON("api/series/", function (data) {
            var html = $("#series_template").render(data);


            $("#app").html(html);

            $(".details").on("click", showSerie);
            $(".delete").on("click", deleteSerie);
            $(".modify").on("click", modifySerie);
            $(".add").on("click", addSerie);

        });
    }

    $(document).ready(function () {
        showSeries();


        $(".series").on("click", function (event) {
            event.preventDefault();

            showSeries();


        })
    });

</script>


<script src="javascript_series.js"></script>


</body>
</html>
