*{
    margin: 0;

}
.body
{
    background-color: #191919;
}

.navegador{
    transition: all .8s;
}


.navegador ul {
    list-style: none;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.navegador li {
    flex-grow: 1;
    text-align: center;
}

.navegador li :hover {
    background-color: rgba(0,0,0,0.2);
    color: darkred;
}

.navegador li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: gray;
    font-family: Calibri;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background-color:black;
}







.titulos{
    background-color: #191919;
    color: white;
    font-size: 70px;
    font-family: Calibri;
    display: flex;
    justify-content: center;
    margin: 20px;
    height: 100px;
    box-sizing: border-box;

}

.contenedorpp{
    margin: 30px;
    display: flex ;
    flex-wrap: wrap;
    justify-content:center;

}
.contenedorpp a img{

    padding: 3px 3px;
    border-radius:8px;
    width: 300px;
    height: 400px;

}


body{
    background-color: #191919;
}


.contenedor_tablas {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: darkred;
    border: 2px solid #ffffff;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;

}


.contenedor_tablas table{
    width: 50%;
    min-width: 20%;
    color: white;
    margin: 40px auto;
    border-top: 1px solid #ffffff;

}


.contenedor_tablas td{
    height: 40px;
    width: 25%;

}

.contenedor_tablas p{
    font-size: 13px;
    font-family: Calibri;
    font-style: oblique;

}

.titulotabla{
    font-size: 30px;
}

form{
    width: 450px;
    margin: auto;
    background-color: darkred;
    height: 40%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 70px;
    border-radius: 10px;
}

h2 {
    color: white;
    text-align: center;
    font-family: Calibri;
    font-size: 50px;
    margin-bottom: 30px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 2px;
    font-size: 12px;
    font-style: oblique;

}

textarea{
    min-height: 100px;
    max-height: 140px;
    max-width: 100%;
    min-width: 100%;
}

#boton{
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
}

#boton:hover{
    cursor: pointer;
}

.contenedorDetails
{
    display: flex;
    justify-content: space-between;
}

.contenedorDatos{
    max-width: 50%;
    height: auto;
    border: 2px solid #ffffff;
    margin: 50px auto;
    padding: 30px;
    box-sizing: border-box;


}

.contenedorDatos th{
    height: 100px;
    margin: 50px auto;
    font-size: 20px;


}


.contenedorDatos td{
    color: white;
    box-sizing: border-box;


}

.contenedorDatos tr{
    color: white;

    font-size: 20px;

}
.contenedorDatos li{
    color: white;



}

.imagenes
{
    height: 40%;
    width: 40%;
}

.buttonIndex
{
    display: flex;
    justify-content: center;
}
.addBoton
{
    display: flex;
    justify-content: center;
}
